version: 0.0.{build}
image: Ubuntu1604
clone_script:
- sh: git submodule update --init --recursive
install:
- sh: sudo apt install libxml2-dev libcppunit-dev autoconf automake autotools-dev autopoint libtool libssh2-1-dev libssh2-1 -y
build_script:
- sh: sudo bash build.sh
